## Day objectives:
- iterative statements
- jumping statements
- python datastructures
    - list
    - tuples
    - dictionares
    - set

## iterative statements
- doing task again and again
- 2 types
    - for loop
    - while loop

In [1]:
range(10)

range(0, 10)

In [2]:
range(8,10)

range(8, 10)

In [4]:
range(0,10,2)

range(0, 10, 2)

In [8]:
for i in range(0,5,2):
    print("gokul")

gokul
gokul
gokul

In [14]:
'101' in "10100101"
"10100101".count('101')

2

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [3]:
for j in range(3,10,2):
    print(j,end=" ")

3 5 7 9

In [11]:
for i in range(1,100,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [10]:
for i in range (2,100,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [13]:
for i in range(100,0,-1):
    print(i,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [15]:
for i in range(100,0,-2):
    print(i,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [17]:
for i in range(99,0,-2):
    print(i,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [21]:
name="apssdc"
print(name[len(name)-1])

c

In [32]:
for ch in range(len(name)):
    print(name[ch],end=" ")

a p s s d c

In [34]:
for i in name:
    print(i,end=" ")

a p s s d c

In [38]:
a=int(input("enter which table you want"))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

enter which table you want2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [51]:
a=int(input("enter the starting range"))
b=int(input("enter the ending range"))
for i in range(1,11):
    for j in range(a,b+1):
        print("%d * %d = %d"%(j,i,i*j),end="   ")
    print("")

enter the starting range1
enter the ending range2
1 * 1 = 1   2 * 1 = 2
1 * 2 = 2   2 * 2 = 4
1 * 3 = 3   2 * 3 = 6
1 * 4 = 4   2 * 4 = 8
1 * 5 = 5   2 * 5 = 10
1 * 6 = 6   2 * 6 = 12
1 * 7 = 7   2 * 7 = 14
1 * 8 = 8   2 * 8 = 16
1 * 9 = 9   2 * 9 = 18
1 * 10 = 10   2 * 10 = 20

In [1]:
a=int(input())
for i in range(a+1):
    print(i*"*")

5

*
**
***
****
*****

In [5]:
# Biggest of 3 numbers using functions
def big(a,b,c):
    if a>b & a>c:
        return a
    elif b>c:
        return b
    else:
        return c
a=int(input())
b=int(input())
c=int(input())
r=big(a,b,c)
print("%d biggest number"%(r))

5
6
9
9 biggest number

In [6]:
# smallest of 3 numbers using functions
def small(a,b,c):
    if a<b & a<c:
        return a
    elif c>b:
        return b
    else:
        return c
a=int(input())
b=int(input())
c=int(input())
r=small(a,b,c)
print("%d smallest number"%(r))

5
6
2
2 smallest number

In [16]:
p=int(input())

def prime(p1):
    re=p1
    count=0
    while(re!=0):
        if(p1%re==0):
            count+=1
            re-=1
        else:
            re-=1
    return count
pi=prime(p)
if(pi==2):
    print("prime")
else:
    print("not prime")

11
prime

In [15]:
a=int(input())
b=int(input())
for i in range(a,b+1):
    li=prime(i)
    if(li==2):
        print(i,end=" ")

1
100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [19]:
p=int(input())
q=int(input())
g=0
for i in range(p,q+1):
    r=prime(i)
    if(r==2):
        g+=1
print("%d count of the prime numbers"%(g))

1
100
25 count of the prime numbers

In [20]:

for i in range(1,101):
    li=prime(i)
    if(li==2):
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [25]:
def even(e):
    if e%2==0:
        return 0
    else:
        return 1
a=int(input())
b=int(input())
for i in range(a,b+1):
    if even(i)==0:
        print(i)

1
10
2
4
6
8
10

In [26]:
def odd(o):
    if o%2==1:
        return 1
    else:
        return 0
a=int(input())
b=int(input())
for i in range(a,b+1):
    if odd(i)==1:
        print(i)

1
10
1
3
5
7
9

In [28]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
a=int(input())
b=int(input())
for i in range(a,b+1):
    p=fact(i)
    print(p)

1
5
1
2
6
24
120

In [2]:
def pali(n):
    a=n[::-1]
    if n==a:
        return 1
    else:
        return 0
a=input()
if pali(a)==1:
    print("palindrome")
else:
    print("not palindrome")

gokul
not palindrome

## jumping statements are
- break
- continue

In [4]:
for i in range(1,101):
    if(i==50):
        break
    else:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [7]:
# continue
for i in range(1,101):
    if(i%5==0):
         continue
    else:
          print(i,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

## python datastructures

# list
- it is data structures
- it is a mutuable
- for defining list we are using [ and]
- it is also a data type

In [17]:
li=[123,79.90,'gokul']
print(type(li))
print (li)
print(li[0])
print(len(li))

<class 'list'>
[123, 79.9, 'gokul']
123
3

In [19]:
print(li[:2])
print(li[::-1])

[123, 79.9]
['gokul', 79.9, 123]

In [20]:
print(li[2][1])

o

In [30]:
li.insert(1,"kul")
li

[123, 'kul', 'kul', 79.9, 'gokul']

In [33]:
li.append("srikanth")
li

[123, 'kul', 'kul', 79.9, 'gokul', 'srikanth']

In [35]:
li.remove("kul")
li

[123, 79.9, 'gokul', 'srikanth']

In [36]:
li.pop(1)
li

[123, 'gokul', 'srikanth']

In [39]:
li.reverse()
li

[123, 'gokul', 'srikanth']

In [41]:
li.index(123)

0

In [42]:
li.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
li1=li
li1,li

([123, 'gokul', 'srikanth'], [123, 'gokul', 'srikanth'])

In [44]:
li1.append(45)

In [45]:
li1,li

([123, 'gokul', 'srikanth', 45], [123, 'gokul', 'srikanth', 45])

In [47]:
li2=li.copy()
li2,li

([123, 'gokul', 'srikanth', 45], [123, 'gokul', 'srikanth', 45])

In [48]:
li2.append(89)

In [49]:
li,li2

([123, 'gokul', 'srikanth', 45], [123, 'gokul', 'srikanth', 45, 89])

In [51]:
li3=li[1]

In [52]:
li3

'gokul'

In [53]:
li3=435

In [55]:
li.append(123)

In [58]:
li.count("gokul")

1

In [59]:
li.append(li1)

In [60]:
li

[123, 'gokul', 'srikanth', 45, 123, [...]]

In [61]:
li[5][1]

'gokul'

In [62]:
li[5]

[123, 'gokul', 'srikanth', 45, 123, [...]]

In [63]:
del li

In [64]:
li=[123,87,'gokul']
li2=[56,90,'nithish']
li.append(li2)
li

[123, 87, 'gokul', [56, 90, 'nithish']]

In [65]:
li[3]

[56, 90, 'nithish']

In [66]:
li[3][1]

90

In [67]:
li.pop(3)

[56, 90, 'nithish']

In [69]:
li.pop(2)

'gokul'

In [71]:
li.sort()

In [72]:
li

[87, 123]

In [73]:
max(li)

123

In [75]:
li.count(123)

1

In [8]:
n=int(input())
vals = list(map(int,input().split()))[:n]
print(type(vals))
print(sum(vals))

2154 2121 2121 212 212

ValueError: invalid literal for int() with base 10: '2154 2121 2121 212 212'

In [5]:
n=int(input())
li=[]
for i in range(n):
    val=int(input())
    li.append(val)
print(li)
s=sum(li)
print(s)
print(max(li))
print(min(li))
print(s//n)

3
1
2
3
[1, 2, 3]
6
3
1
2

## Tuples
- it is data structures
- it is a data type
- it is immutuble
-()

In [6]:
t=('gokul',123,90.9)
t

('gokul', 123, 90.9)

In [12]:
t[::-1]

NameError: name 't' is not defined

In [8]:
t

('gokul', 123, 90.9)

In [9]:
list(t)

['gokul', 123, 90.9]

In [10]:
t

('gokul', 123, 90.9)

## sets
- it is data structure
- it is a data type
- it is mutable
- {}

In [4]:
s={1,2,3,4,34,4,5,6,2,2,1}
print(s)

{1, 2, 3, 4, 34, 5, 6}

In [11]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [13]:
li=['abdul','anil','ajay','vinay','sunil','siva']
for i in range(len(li)):
    if(li[i].startswith('a')):
        print(li[i])

abdul
anil
ajay

In [15]:
li=['abdul','anil','ajay','vinay','sunil','siva']
for i in range(len(li)):
    if(li[i].endswith('l')):
        print(li[i])

abdul
anil
sunil

In [13]:
n=input("enter the string ")
li=list()
li=n.split()
for i in set(li):
    print(i,li.count(i))

enter the string gokul hdghg nfhghfg jkfhjghhg
hdghg 1
jkfhjghhg 1
nfhghfg 1
gokul 1

In [4]:
n=input("enter the string")
s=0
c=0
for i in n:
    if i.isdigit():
        s += int(i)
        c+=1
s,c

enter the stringhfu65

(11, 2)

In [6]:
n=input("enter the sentence").split()
s=0
for i in n:
    if i.isdigit():
        s+=int(i)
s

enter the sentencedgfd 90 10

100