## list or dictionary or tuples Comprehension

In [5]:
num=[i for i in range(int(input()))]

10

In [6]:
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
pow=[i**2 for i in range(int(input()))]

10

In [9]:
pow

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
even=[i for i in range(2,int(input()),2)]

10

In [12]:
even

[2, 4, 6, 8]

In [13]:
odd=[i for i in range(1,int(input()),2)]

10

In [14]:
odd

[1, 3, 5, 7, 9]

In [15]:
vals=[i for i in range(1,100) if i%2==0]

In [16]:
vals

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [17]:
odds=[i for i in range(1,100) if i%2==1]
odds

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [20]:
vals = [int(i) for i in input().split()]
vals

1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]

In [21]:
vals=list(map(int,input().split()))
vals

1 2 3 4 5 6 7 8 9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
def cube(x):
    return int(x)**3
n=list(map(cube,input().split()))
sum(n)

1 2 3 4 5 6

441

In [32]:
sm=sum(list(i**2 for i in range(1,int(input()))))
sm

5

30

In [29]:
sm

10

In [42]:
n=int(input())
li=[[n,i,n*i] for i in range(1,11)]
for i in li:
    print(i)

5
[5, 'x', 1, '=', 5]
[5, 'x', 2, '=', 10]
[5, 'x', 3, '=', 15]
[5, 'x', 4, '=', 20]
[5, 'x', 5, '=', 25]
[5, 'x', 6, '=', 30]
[5, 'x', 7, '=', 35]
[5, 'x', 8, '=', 40]
[5, 'x', 9, '=', 45]
[5, 'x', 10, '=', 50]

In [1]:
num=list("even" if i%2==0 else "odd" for i in range(1,10))
num

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [10]:

['firstisbig' if int(input())>int(input()) else 'second is big']

5
6

['b is big']

In [5]:
n

['b', ' ', 'i', 's', ' ', 'b', 'i', 'g']

In [8]:
l=list(i for i in range(1,101) if i%5==0)

5

In [15]:
l=list(i for i in range(1,101) if i%3==0 if i%2==0)

In [16]:
l

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [24]:
s=input()
for i in s:
    print(i,"=",i*5)

gokul
g = ggggg
o = ooooo
k = kkkkk
u = uuuuu
l = lllll

In [18]:
[(i,j) for i in range(1,3) for j in range (1,6)]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5)]

## Dictionary compreshion

In [19]:
{k:v for k,v in enumerate([1,2,3,4,5])}

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [28]:
keys=['name','age','rollno']
values=['gokul','20','5c5']
{ke:ve for ke,ve in zip(keys,values)}

{'name': 'gokul', 'age': '20', 'rollno': '5c5'}

In [25]:
l={}
dir(l)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
d1=